<a href="https://colab.research.google.com/github/Gabzbenan/gaba/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
from distutils.log import error

encabezados = ['user_id', 'user_name', 'user_age', 'fav_categories', 'total_spendings']
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

#print(users)
user_temp = []
for user in users:
    #Paso 1
    #1. Se debe cambiar el tipo de dato de user_id de cadena a entero.
    #2. La variable user_name contiene una cadena que tiene espacios innecesarios y un guion bajo entre el nombre y el apellido.
    #3. El tipo de dato de user_age es correcto y no hay necesidad de convertirlo.
    #4. La lista fav_categories contiene cadenas en mayúsculas. En lugar de ello, debemos convertir los valores de la lista en minúsculas.
    #RESPUESTA: Si se deben realizar las opciones 1,2 ya que se necesita limpiar la data y homologar, si no va ser dificil cuantificar. La opción 3 hay que convertirlo de un float a int para tener estadistica y el punto 4 igual mejor homologar entre minusculas y mayusculas.
    #Mientras más homogenea esten los datos de cada columna será más fácil manejarla
    user_id = int(user[0])
    #Paso 2 y 3
    user_name = user[1].replace("_"," ")
    user_name1 = user_name.strip()
    user_name2 = user_name1.split()
    fav_categories = user[3]
    total_spendings = user[4]
    #Paso 4 y 5
    try:
        user_age = int(user[2])
    except error:
        print("Please provide your age as a numerical value.")
    matriz = [ ]
    matriz.append(user_id)
    matriz.append(user_name2)
    matriz.append(user_age)
    matriz.append(fav_categories)
    matriz.append(total_spendings)
    user_temp.append(matriz)

    #Paso 6
print(user_temp)
user_temp.sort()
print(user_temp)

  #Paso 7
for sucategory in user_temp:
  spendings_per_category = sucategory[4]
  total_amount = sum(spendings_per_category)
  print(total_amount)

  #Paso 8
for user_info in user_temp:
    user_id = user_info[0]
    user_name = user_info[1][0]
    user_age = user_info[2]
    #user_info = "User "+ str(user_id) + "is " + str(user_name1) + "who is " + str(user_age) + "years old.."
    user_info = "User {} is {} who is {} years old..".format(user_id, user_name, user_age)
  #Paso 10
    print(user_info)

  #Paso 9
#Contador de filas
num_filas = len(user_temp)
texto_num_filas = "We have registered data on {} clients.".format(num_filas)
print(texto_num_filas)

[[32415, ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], [31980, ['kate', 'morgan'], 24, ['CLOTHES', 'BOOKS'], [439, 390]], [32156, ['john', 'doe'], 37, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], [32761, ['SAMANTHA', 'SMITH'], 29, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], [32984, ['David', 'White'], 41, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], [33001, ['emily', 'brown'], 26, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], [33767, ['Maria', 'Garcia'], 33, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], [33912, ['JOSE', 'MARTINEZ'], 22, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], [34009, ['lisa', 'wilson'], 35, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], [34278, ['James', 'Lee'], 28, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]
[[31980, ['kate', 'morgan'], 24, ['CLOTHES', 'BOOKS'], [439, 390]], [32156, ['john', 'doe'], 37, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], [32415, ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], [32761, ['SAMANTHA', 'SMITH'], 29, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], [32984, ['David', 'White'], 41, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], [33001, ['emily', 'brown'], 26, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], [33767, ['Maria', 'Garcia'], 33, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], [33912, ['JOSE', 'MARTINEZ'], 22, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], [34009, ['lisa', 'wilson'], 35, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], [34278, ['James', 'Lee'], 28, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]
829
678
1280
1063
806
951
751
917
847
1067
User 31980 is kate who is 24 years old..
User 32156 is john who is 37 years old..
User 32415 is mike who is 32 years old..
User 32761 is SAMANTHA who is 29 years old..
User 32984 is David who is 41 years old..
User 33001 is emily who is 26 years old..
User 33767 is Maria who is 33 years old..
User 33912 is JOSE who is 22 years old..
User 34009 is lisa who is 35 years old..
User 34278 is James who is 28 years old..
We have registered data on 10 clients.