# Hola Gabriela!

Mi nombre es David Bautista, soy code reviewer de Tripleten y hoy tengo el gusto de revisar tu proyecto.

Cuando vea un error la primera vez, lo señalaré. Deberás encontrarlo y arreglarlo. La intención es que te prepares para un espacio real de trabajo. En un trabajo, el líder de tu equipo hará lo mismo. Si no puedes solucionar el error, te daré más información en la próxima ocasión.

Encontrarás mis comentarios más abajo - por favor, no los muevas, no los modifiques ni los borres.

¿Cómo lo voy a hacer? Voy a leer detenidamente cada una de las implementaciones que has llevado a cabo para cumplir con lo solicitado. Verás los comentarios de esta forma:

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>
    
Si todo está perfecto.
</div>


<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>
    
Si tu código está bien pero se puede mejorar o hay algún detalle que le hace falta.
</div>


<div class="alert alert-block alert-danger">
    
<b>Comentario del revisor</b> <a class="tocSkip"></a>
    
Si de pronto hace falta algo o existe algún problema con tu código o conclusiones.
</div>


Puedes responderme de esta forma: 

<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class="tocSkip"></a>
</div>

¡Empecemos!


<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

# Comentario General

~~Hola, Gabriela, hay un aspecto importante que debemos tener en cuenta. Según lo que veo, desarrollaste el proyecto en un archivo plano de Python y lo subiste en el notebook adjuntando todo en una sola celda. Recuerda que el ideal es poder estructurarlo con el formato del notebook original del ejercicio, el cual sigue un orden acompañado de los comentarios de texto. Igualmente, te felicito por el desarrollo generado hasta el momento, quedo atento a la modificación para que podamos continuar con la revisión.~~ </div>    

    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

# Comentario General #2

~~Hola, Gabriela, he dejado nuevos comentarios etiquetados con el #2 para que los puedas revisar y tener en cuenta.~~  </div>  

  
<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

# Comentario General #3

Hola, Gabriela, te felicito por el buen desarrollo del proyecto. Gracias por tener en cuenta los diferentes comentarios.   </div>

# Paso 1

Store 1 tiene como objetivo garantizar la coherencia en la recopilación de datos. 
Como parte de esta iniciativa, se debe evaluar la calidad de los datos recopilados sobre los usuarios y las usuarias. Te han pedido que revises los datos recopilados y propongas cambios. A continuación verás datos sobre un usuario o una usuaria en particular; revisa los datos e identifica cualquier posible problema.
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
*Opciones:*

1. Se debe cambiar el tipo de dato de user_id de cadena a entero.
    
2. La variable user_name contiene una cadena que tiene espacios innecesarios y un guion bajo entre el nombre y el apellido.
    
3. El tipo de dato de user_age es correcto y no hay necesidad de convertirlo.
    
4. La lista fav_categories contiene cadenas en mayúsculas. En lugar de ello, debemos convertir los valores de la lista en minúsculas.

Para cada una de las opciones, escribe en la siguiente celda markdown si la identificaste como un problema real en los datos o no. Justifica tu razonamiento. Por ejemplo, si crees que la primera opción es correcta, escríbelo y explica por qué piensas que es correcta

  #RESPUESTA: 
Si se deben realizar las opciones 1,2 ya que se necesita limpiar la data y homologar, si no va ser dificil cuantificar. La opción 3 hay que convertirlo de un float a int para tener estadistica y el punto 4 igual mejor homologar entre minusculas y mayusculas.
Mientras más homogeneos esten los datos de cada elemento de la lista será más fácil manejarla

# Paso 2
Vamos a implementar los cambios que identificamos. Primero, necesitamos corregir los problemas de la variable user_name Como vimos, tiene espacios innecesarios y un guion bajo como separador entre el nombre y el apellido; tu objetivo es eliminar los espacios y luego reemplazar el guion bajo con el espacio.

In [4]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_temp = []
for user in users:

    user_name = user[1].replace("_"," ")
    user_name1 = user_name.strip()
    print(user_name1)
    
user_name = ' mike_reed '

mike reed
kate morgan
john doe
SAMANTHA SMITH
David White
emily brown
Maria Garcia
JOSE MARTINEZ
lisa wilson
James Lee

    
<div class="alert alert-block alert-success">
<b>Comentario del revisor #2 </b> <a class="tocSkip"></a>

El ejercicio estaba pensado inicialmente para modificar como ejemplo solo el caso de paso 1, sin embargo, veo que desatollaste este bucle para solucionar el problema sobre todos los user_names de la lista ``users`` y de hecho veo que aplicaste de manera correcta los métodos ``strip()`` y ``replace()``. Teniendo en cuenta todo lo anterior, veo que cumpliste con el objetivo final de este ejercicio, el cual es entender el uso de los dos métodos en cuestión, de modo que te felicito.  </div>

# Paso 3
Luego, debemos dividir el user_name (nombre de usuario o usuaria) actualizado en dos subcadenas para obtener una lista que contenga dos valores: la cadena para el nombre y la cadena para el apellido.

In [5]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_temp = []
for user in users:
    
    user_id = int(user[0])
    #Paso 2 y 3
    user_name = user[1].replace("_"," ")
    user_name1 = user_name.strip()
    user_name2 = user_name1.split()
    print(user_name2)

['mike', 'reed']
['kate', 'morgan']
['john', 'doe']
['SAMANTHA', 'SMITH']
['David', 'White']
['emily', 'brown']
['Maria', 'Garcia']
['JOSE', 'MARTINEZ']
['lisa', 'wilson']
['James', 'Lee']

    
<div class="alert alert-block alert-success">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

Acaso sucede lo mismo que en el caso anterior, el ideal era solucionar el problema para el ejemplo del paso 1; sin embargo, eres recursiva y lograste usar el bucle con el método ``split()`` para solucionar las tareas sobre todos los user_names, de modo que buen trabajo.   </div>

# Paso 4

¡Genial! Ahora debemos trabajar con la variable user_age. Como ya mencionamos, esta tiene un tipo de datos incorrecto. Arreglemos este problema transformando el tipo de datos y mostrando el resultado final.

In [7]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_temp = []
for user in users:
    
    user_age = int(user[2])
    print(user_age)

32
24
37
29
41
26
33
22
35
28

    
<div class="alert alert-block alert-success">
<b>Comentario del revisor #2 </b> <a class="tocSkip"></a>

Nuevamente, sucede lo mismo con el tema del ejemplo del paso 1; sin embargo, realizas la transformación de tipo de datos sobre las variables de manera correcta. Te felicito.    </div>

# Paso 5

Como sabemos, los datos no siempre son perfectos. Debemos considerar escenarios en los que el valor de user_age no se pueda convertir en un número entero. Para evitar que nuestro sistema se bloquee, debemos tomar medidas con anticipación.

Escribe un código que intente convertir la variable user_age en un número entero y asigna el valor transformado a user_age_int. Si el intento falla, mostramos un mensaje pidiendo al usuario o la usuaria que proporcione su edad como un valor numérico con el mensaje: Please provide your age as a numerical value. (Proporcione su edad como un valor numérico.)

In [1]:
user_age = 'treinta y dos'

try:
    user_age = int(user_age)
except:
    print('Please provide your age as a numerical value.')

Please provide your age as a numerical value.

    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

~~Acá el ejercicio, si cambia, la idea es que puedas aplicar la misma lógica pero exactamente sobre la sigiente variable.~~ 

```python
user_age = 'treinta y dos'   
```
</div>  

    
<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Perfecto, buen trabajo.
</div>

# Paso 6

El equipo de dirección de Store 1 te pidió ayudarles a organizar los datos de sus clientes para analizarlos y gestionarlos mejor.

Tu tarea es ordenar esta lista por ID de usuario de forma ascendente para que sea más fácil acceder a ella y analizarla.

In [2]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users.sort()
print(users)

[['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]], ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]

    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

~~En este paso, el ideal era simplemente usar el método ``sort()`` sobre toda la lista.~~ 
</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Perfecto, buen trabajo.
</div>

# Paso 7
Tenemos la información de los hábitos de consumo de nuestros usuarios, incluyendo la cantidad gastada en cada una de sus categorías favoritas. La dirección está interesada en conocer la cantidad total gastada por el usuario.

Calculemos este valor y despleguémoslo.

In [25]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]
 # total_amount = max(spendings_per_category)
 # total_amount = min(spendings_per_category)
total_amount = sum(spendings_per_category)
print(total_amount)


 # total_amount = sum(spendings_per_category)

1280


    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2 </b> <a class="tocSkip"></a>

~~Este paso lo tenías que solucionar a partir de la siguiente información.~~

```python
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = 
```

</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Excelente, buen trabajo aplicando el método.
</div>

# Paso 8
La dirección de la empresa nos pidió pensar en una manera de resumir toda la información de un usuario. Tu objetivo es crear una cadena formateada que utilice información de las variables user_id, user_name y user_age.

Esta es la cadena final que queremos crear: User 32415 is mike who is 32 years old. (El usuario 32415 es Mike, quien tiene 32 años).

In [11]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32
user_name2 = user_name[1]

user_info = "User {} is {} who is {} years old..".format(user_id, user_name2, user_age)
print(user_info)

User 32415 is reed who is 32 years old..


    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

~~Este paso lo tenías que solucionar a partir de la siguiente información.~~

```python
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

```

</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Perfecto.
</div>

# Paso 9
La dirección también quiere una forma fácil de conocer la cantidad de clientes con cuyos datos contamos. Tu objetivo es crear una cadena formateada que muestre la cantidad de datos de clientes registrados.

Esta es la cadena final que queremos crear: Hemos registrado datos de X clientes.

In [12]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


  #Paso 9

num_filas = len(user_temp)
texto_num_filas = "We have registered data on {} clients.".format(num_filas)
print(texto_num_filas)

We have registered data on 10 clients.


    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

~~En este caso solucionas bien el ejercicio, pero no es necesario usar código repetido que no está generando ningún aporte en esta sección. Puedes eliminar lo siguiente. (y hacer el conteo sobre la lista original)~~
    
```python

user_temp = []
for user in users:
    
    user_id = int(user[0])

    user_name = user[1].replace("_"," ")
    user_name1 = user_name.strip()
    user_name2 = user_name1.split()
    fav_categories = user[3]
    total_spendings = user[4]

    try:
        user_age = int(user[2])
    except error:
        print("Please provide your age as a numerical value.")
    matriz = [ ]
    matriz.append(user_id)
    matriz.append(user_name2)
    matriz.append(user_age)
    matriz.append(fav_categories)
    matriz.append(total_spendings)
    user_temp.append(matriz)

user_temp.sort()
    
```

</div>

<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Perfecto, gracias por tener en cuenta el comentario.
</div>

# Paso 10
Apliquemos ahora todos los cambios a la lista de clientes. Para simplificar las cosas, te proporcionaremos una más corta. Debes:

Eliminar todos los espacios iniciales y finales de los nombres, así como cualquier guion bajo.
Convertir todas las edades en números enteros.
Separar todos los nombres y apellidos en una sublista.
Guarda la lista modificada como una nueva lista llamada users_clean y muéstrala en la pantalla.

In [15]:
from distutils.log import error

encabezados = ['user_id', 'user_name', 'user_age', 'fav_categories', 'total_spendings']
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_temp = []
for user in users:
    
    user_id = int(user[0])

    user_name = user[1].replace("_"," ")
    user_name1 = user_name.strip()
    user_name2 = user_name1.split()
    fav_categories = user[3]
    total_spendings = user[4]

    try:
        user_age = int(user[2])
    except error:
        print("Please provide your age as a numerical value.")
    matriz = [ ]
    matriz.append(user_id)
    matriz.append(user_name2)
    matriz.append(user_age)
    matriz.append(fav_categories)
    matriz.append(total_spendings)
    user_temp.append(matriz)

print(user_temp)
user_temp.sort()

[[32415, ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], [31980, ['kate', 'morgan'], 24, ['CLOTHES', 'BOOKS'], [439, 390]], [32156, ['john', 'doe'], 37, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], [32761, ['SAMANTHA', 'SMITH'], 29, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], [32984, ['David', 'White'], 41, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], [33001, ['emily', 'brown'], 26, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], [33767, ['Maria', 'Garcia'], 33, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], [33912, ['JOSE', 'MARTINEZ'], 22, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], [34009, ['lisa', 'wilson'], 35, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], [34278, ['James', 'Lee'], 28, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]


    
<div class="alert alert-block alert-danger">
<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

~~Buen trabajo con las modificaciones sobre la lista, solo no es necesario hacer los prints.~~

</div>  

<div class="alert alert-block alert-success">
<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Perfecto, buen trabajo.
</div>